<!-- two column grid (1x2 1row 2 colums)-->
<div class="grid grid--1x2">
  <!-- two div elements with two different background colors just for testing so we apply inline styling-->
  <!-- by default they are vertical, ideal for the mobile version -->
  <div style="height: 100px; background: gold"></div>
  <div style="height: 100px; background: dodgerblue"></div>
</div>
<!-- three column grid -->
<div class="grid grid--1x3">
  <div style="height: 100px; background: gold"></div>
  <div style="height: 100px; background: dodgerblue"></div>
  <div style="height: 100px; background: green"></div>
</div>
