<!-- We have collapsible sections with links, in the footer in the mobile version of the website -->
<!-- Every collapsible component should have 2 sections: a header and a body or content area -->
<!-- When we click on the header, the content area expands or collapses -->
<!-- In the header we have 2 elements: a heading (h2 or h3), and an icon -->
<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
    <svg class="icon icon--white collapsible__chevron">
      <use xlink:href="icons/sprite.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat, aperiam.
  </div>
</div>
<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 2</h2>
    <svg class="icon icon--white collapsible__chevron">
      <use xlink:href="icons/sprite.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat, aperiam.
  </div>
</div>
