<!-- On desktop: 2 column grid. On mobile: 1 column grid  -->
<div class="callout callout--primary">
  <!-- 2 items inside the grid: 1st column some content (heading and text), 2nd column a button -->
  <div class="grid grid--1x2">
    <!-- this div wraps the heading and the text -->
    <div class="callout__content">
      <h2 class="callout__heading">Ready to Get Started?</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci
        pariatur reprehenderit expedita sapiente sint quas quis aliquid ad
        recusandae magni!
      </p>
    </div>
    <a href="#" class="btn btn--secondary btn--stretched">Get Started</a>
  </div>
</div>
