<!-- temporary inline style just for testing the card-->
<div style="width: 30%; padding: 4rem">
  <!-- use __ on the header class because header is an element inside the div block. Does not exist outside of this block/component-->
  <div class="card card--primary">
    <header class="card__header">Card Title</header>
    <div class="card__body">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro, dolorem.
    </div>
  </div>
</div>
<div style="width: 30%; padding: 4rem">
  <div class="card card--secondary">
    <header class="card__header">Card Title</header>
    <div class="card__body">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro, dolorem.
    </div>
  </div>
</div>
