<!-- The quote should only include text, the name of the person and organization, dont include the photo -->
<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea, incidunt
    praesentium nihil alias nisi ipsum facilis asperiores fugit dolores iure?
  </p>
  <footer>
    <!-- use the media object/component template  -->
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="icons/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">John Smith</h3>
        <p class="quote__company">ABC Company</p>
      </div>
    </div>
  </footer>
</blockquote>
